<h1>About the Alpha Blog App</h1>

<%= image_tag 'about.jpg' %>

<p>This application was created to allow blogging</p>

<ul>
  <li>Easy to use</li>
  <li>Powerful</li>
  <li>Open source</li>
  <li>Customizable</li>
</ul>

<%= link_to 'Go to Home Page', root_path %>