<h1>Alpha Blog App Home</h1>

<p>Welcome!  We are glad you are here.</p>

<p>Please take a moment to look at the options you can do</p>

<ul>
  <li>Create a new Blog</li>
  <li>Post to an Existing Blog</li>
  <li>View your other Blogs</li>
  <li>View/Read blogs of others</li>
</ul>

<%= image_tag 'blog.jpg' %>

<br />

<%= link_to 'About the Application', about_path %>